HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

# Default ignored files
/shelf/
/workspace.xml

### Java ###
*.class

# Package Files #
*.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/